repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: [.]
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest-q
        name: pytest -q
        entry: uv run pytest -q
        language: system
        pass_filenames: false
